body {
  background: #19c8e7;
  background: #7fe9eb;
  background: linear-gradient(
    0deg,
    rgba(241, 41, 41, 0.753) 0%,
    rgba(0, 0, 0, 0.685) 100%
  );
}

h1 {
  text-align: center;
  color: hwb(0 0% 100% / 0.555);
  
}
#voltar {
  display: flex;
  justify-content: space-between;
  background-color: hwb(0 0% 100% / 0.507);
  border-radius: 21px;

}

#voltar a {
  text-decoration: none;
  background-color: hwb(0 32% 67% / 0);
  border-radius: 52px;
  font-weight: bold;
}

#logo {
  text-align: end;
  color: hwb(0 32% 68%);
  gap: 20px;
}
#imagem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#menuMobile {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}
#descriçaoMobile {
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: hwb(0 0% 100% / 0.466);
  border-radius: 5px;
  width: auto;
  height: auto;
  margin: 20px;
  gap: 30;
}

/* habilitar e desabilitar */
#tablet {
  display: none;
}
#pc {
  display: none;
}
#logoTablet {
  display: none;
}
#img {
  display: none;
}
#imagem {
  display: none;
}
#TextoDeLogin {
  display: flex;
  justify-content: center;
}
#descriçaoPc {
  display: none;
}
#TextoDeCadastro {
  display: flex;
  justify-content: center;
}

@media (min-width: 480px) {
  body {
    background: #19c8e7;
    background: #7fe9eb;
    background: linear-gradient(
      0deg,
      rgba(1, 141, 1, 0.685) 0%,
      rgba(41, 41, 41, 0.342) 100%
    );
  }
  #logoTablet {
    text-align: end;
    color: hwb(0 35% 65%);
    padding: 12px;
  }
  #tablet {
    display: block;
  }
  #pc {
    display: none;
  }
  #imagem {
    padding: auto;
  }
  #descriçaoPc {
    display: none;
  }
}

@media (min-width: 768px) {
   body {
    background: #406591;
    background: #7fe9eb00;
    background: linear-gradient(
      0deg,
      #406591 0%,
      rgba(114, 114, 114, 0.342) 100%
    );
  }
  #pc {
    display: flex;
  }
  #img {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
  #pc {
    display: flex;
  }
  #tablet {
    display: none;
  }
  #logo {
    display: block;
  }
  #logoTablet {
    display: block;
  }
  #descriçaoPc {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: hwb(0 0% 100% / 0.466);
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 20px;
    gap: 30;
  }
}
